*{
    margin:0;
    padding:0;
    box-sizing:0;    
}

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration:none;
    color:darkslategray
}
p{
    color:grey
}

/*//////////////////////// Navigation //////////////////////*/
.container{
    max-width:1200px;
    margin:auto;
    padding-left:20px;
    padding-right:20px;
}
.navbar{
    display:flex;
    align-items:center;
    padding:10px;
}
nav{
    flex:1;
    text-align:right;
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right:25px;
}

/*/////////////////////////// Homepage //////////////////////*/
.homepage_image{
    align-items:center;
    margin-bottom:50px;
}
.homepage_image img{
    width:100%;
    height:100%;
    max-width:1200px;
    max-height:500px;
    object-fit: cover;
    object-position: 0% 0%;
}

/*/////////////////////////// Brands ///////////////////////*/
.category{
    margin-top:20px;
    margin-bottom:50px;
    margin-left:20px;
    
}
.small-container{
    max-width:1080px;
    padding-left:20px;
    padding-right:20px;
    margin:auto;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.col-3{
    display:inline-block;
    flex-basis:30%;
    padding:10px;
    max-width:320px;
}
.col-3 img{
    width:100%;
    margin-left:10px;
    text-align:center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

/*/////////////////////////// About ////////////////////////*/
.about .small-container{
    background-color: black;
    margin-bottom:80px;
}
.col-2{
    display:block;
    flex-basis:49%;
    max-width:500px;
}
.col-2 .title{
    margin-left:50px;
    margin-top: -50px;
    line-height:60px;
    text-align: center;
    color:whitesmoke;
}
.col-2 p{
    margin-left: 50px;
    text-align: center;
    color:grey;
}
.col-2 img{
    width:60%;
    padding:20px;
    text-align:right;
    margin-left: 100px;
}

/*////////////////////////// Products //////////////////////*/
.title{
    text-align:center;
    margin: 0 auto 50px;
    position:relative;
    line-height:60px;
    color:darkgrey;
}
.title::after{
    content:"";
    background:darkslategrey ;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

.productList{
    display:flex;
    flex-wrap:wrap;
    transition:transform 0.5s;
    margin-left: 30px;
}
.product{  
    display:inline-block;
    flex-basis:25%;
    padding:20px 20px;
    max-width:200px;
    margin-bottom:30px;
    margin-right:20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.product img{
    width:100%
}
.product img:hover{
    transform:translateY(-5px);
}
.product .product-info{
    height:95%;
}
.product .favorite{
    height:5%;
    text-align: center;
}
.product .favorite input{
    padding:5px 30px;
    border-radius:30px;
    background-color: black;
    border-color: blanchedalmond;
    color:bisque;
}

/*/////////////////////////// Filter ///////////////////////*/
.filter{
    display:flex;
    align-items:center;
    flex-wrap:wrap;   
    
}
#options{
    display:inline-block;
    align-items: center;
    flex-basis:40%;
    padding:20px 20px;
    max-width:400px;
}

#options #show{
    padding:5px 30px;
    border-radius:30px;
    background-color: black;
    border-color: blanchedalmond;
    color:bisque;
}
#indicators{
    display:inline-block;
    align-items: center;
    flex-basis:60%;
    padding:20px 20px;
    max-width:600px;
}